body {
    background-color: #3e444a;

    .cards {
        padding: 30px;
        

        .btn {
            background-color: #00AF80;
            padding: 5px 30px ;
        }
    }

    .container {

        p {
            margin: 0;
        }
    }

        .bonus-container {
            border: 1px solid #3e444a;
            border-radius: 5px;

            input {
                margin-left: 7px;
            }

            label {
                color: green;
                font-size: 14px;
            }

            p {
                font-size: 14px;
                margin: 0;
                display: flex;
                justify-content: center;
            }
        }
}

.row {
    margin: 0;
}

.form-label {
    margin-top: 10px;
}

.card-body {
    padding: 0 0 20px 0;
}

h4 {
    color: green;
}
