body {
    background-color: #ffffff;

    .form-container {
        position: absolute;
        top: 30%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}
}

